/* Container styles */
.top-collections-container {
  padding: 0 15px;
  overflow: hidden;
}

.top-collections-heading{
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #333;
}

.top-collection-card {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  max-width: 300px; /* Adjust card width as needed */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: auto;
}

.top-collection-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (min-width: 1200px) {
  .top-collection-card {
    max-width: 270px;
    max-height: 60%;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .top-collection-card {
    max-width: 250px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .top-collection-card {
    max-width: 230px;
  }
}

@media (max-width: 767px) {
  .top-collection-card {
    max-width: 210px;
  }
}

@media (max-width: 576px) {
  .top-collection-card {
    max-width: 190px;
  }
}