.chart-container {
    position: relative;
    top:50px;
    width: 100%;
    height: 400px; /* Adjust height as needed */
  }
  
  @media (max-width: 767px) {
    .chart-container {
      height: 250px; /* Adjust height for small screens */
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .chart-container {
      height: 275px; /* Adjust height for medium screens */
    }
  }
  

  .table-responsive {
    overflow-x: auto; /* Ensure horizontal scrolling if the table is too wide */
  }
  
  .table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .table th, .table td {
    text-align: center; /* Center-align text */
    padding: 1rem; /* Add padding for better spacing */
  }
  
  .table th {
    background-color: #070707; /* Bootstrap primary color for headers */
    color: #ffffff; /* White text for headers */
  }
  
  .table td {
    vertical-align: middle; /* Align cell text vertically in the middle */
    border-bottom: 1px solid #dee2e6; /* Subtle border for cells */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; /* Slightly darker background for odd rows */
  }
  
  .table-bordered {
    border: 1px solid #dee2e6; /* Border color for the table */
  }
  
  .table-hover tbody tr:hover {
    background-color: #e2e6ea; /* Light highlight color on hover */
  }
  
  .card {
    border-radius: 0.5rem; /* Rounded corners for the card */
  }
  
  .card-header {
    border-bottom: 1px solid #dee2e6; /* Subtle border at the bottom of the header */
  }
  