/* Offers.css */
.festival-banner {
  background: #ffd700; /* Green background */
  color: rgb(0, 0, 0) !important;
  border-radius: 0px;
  padding: 2px; /* Darker green border */
  position: relative;
  overflow: hidden;
  animation: slide-in 1s ease-out forwards;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.festival-banner p {
  margin: 0;
  font-size: 1rem;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Offers.css */
.multi-offer-banner {
  background: #f18b38; /* Blue background */
  color: rgb(0, 0, 0) !important; /* White text */
  border-radius: 0px;
  padding: 2px; /* Padding for the content */
  position: relative;
  overflow: hidden;
  animation: slide-in 1s ease-out forwards; /* Animation */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.multi-offer-banner p {
  margin: 0;
  font-size: 1rem; /* Font size for text */
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.offer-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.offer-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-img {
  height: 200px;
  object-fit: cover;
}

.size-list {
  display: flex;
  gap: 5px;
}

.size-item {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.price-section {
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  max-height: 2.5rem;
  overflow: hidden;
}

.text-muted {
  color: #6c757d;
}

