/* src/components/Navbar.css */
.custom-button {
    width: 90px; /* Default width */
    padding: 0.375rem 0.75rem; /* Adjust padding if needed */
  }
  
  /* Adjust button width for mobile view */
  @media (max-width: 768px) {
    .custom-button {
      width: 150px; /* Decrease width for mobile view */
    }
  }
  
  /* Ensure proper alignment on mobile view */
  .navbar-collapse {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .navbar-collapse {
      justify-content: center;
    }
  }
  