
.custom-button {
  width: 90px; 
  padding: 0.375rem 0.75rem; 
}


@media (max-width: 768px) {
  .custom-button {
    width: 150px; 
  }
}


.navbar-collapse {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
}


@media (max-width: 768px) {
  .navbar-collapse {
    justify-content: center;
  }
}

/* 
.navbar-glossy {
  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(10px) brightness(85%);
  -webkit-backdrop-filter: blur(10px) brightness(85%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  position: relative;
  overflow: hidden; 
}

.navbar-glossy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0.15), 
    rgba(255, 255, 255, 0.05) 20%,
    rgba(0, 0, 0, 0.05) 100%
  );
  pointer-events: none; 
  z-index: 1;
}


.navbar-glossy * {
  position: relative;
  z-index: 2;
} */

.nav-item-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 576px) { /* Bootstrap's sm breakpoint */
  .nav-item-center {
    justify-content: center;
  }
}

.nav-item-center .dropdown {
  margin-right: 1rem; /* Adjust as needed */
}

.nav-item-center .dropdown-menu {
  min-width: 150px; /* Adjust as needed */
}
